### **Question 2: For this question youâ€™ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.**

### **A. How many orders were shipped by Speedy Express in total?**



```
SELECT COUNT(*) AS NumOrders
FROM [Orders]
JOIN [Shippers]
    ON [Shippers].ShipperID = [Orders].ShipperID
WHERE [Shippers].ShipperName = 'Speedy Express' 
```

### **B. What is the last name of the employee with the most orders?**



```
SELECT [Employees].LastName, 
   COUNT(*) AS NumOrders 

-- Joined both datasets Orders and Employees together using the column EmployeeID which was present in both datasets
FROM [Orders]
JOIN [Employees]
  ON [Orders].EmployeeID = [Employees].EmployeeID

-- Group the data by unique LastName value, printed 1st value of data in descending order to get the Employees' LastName that has the most orders
GROUP BY [Employees].LastName
ORDER BY NumOrders DESC
LIMIT 1
```

### **C. What product was ordered the most by customers in Germany?**

To answer this question, I first had to join the datasets Customers, Orders, OrderDetails, and Products.

After joining the datasets, now I have all the information in one table to answer this question. I group the dataset by each unique ProductName, calculated the sum of the TotalQuantity for each unique ProductName, ordered the dataset in descending order, and printed out the 1st value.



```
SELECT  [Products].ProductName,
		SUM([OrderDetails].Quantity) AS "TotalQuantity"

FROM [Customers]
JOIN [Orders]
    ON [Orders].CustomerID = [Customers].CustomerID
JOIN [OrderDetails]
    ON [OrderDetails].OrderID = [Orders].OrderID
JOIN [Products]
    ON [Products].ProductID = [OrderDetails].ProductID
WHERE [Customers].Country = 'Germany'

GROUP BY [Products].ProductName
ORDER BY TotalQuantity DESC
LIMIT 1
```